body {
    font-family: "arial", sans-serif;
    text-align: center;
   }
   #slider {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
   }
   img{
    margin-left: 80px;
   }
   
    #precedent, #suivant {
 cursor: pointer;
 transition: opacity 0.3s ease;
 opacity: 0;
 position: absolute;
 font-size: 100px;
 color: rgba(220, 220, 220, 0.8);
 background-color: rgba(0, 0, 0, 0.8);
 padding: 10px;
}

#precedent {
    left: 80px;
   }
   #suivant {
    right: 106px;
   } 
   

#slider:hover #precedent,
#slider:hover #suivant {
 opacity: 1;
}



/* Partie Slider */
.slider-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
    background-image: url(/images/back.jpg);
    height: 530px
}

.slide>img{
    width: 800px;
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 300px;
    width: 900px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    margin-top: 5px;
  } 

  .slider-container>a {
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    font-size: 400px;
  }

  .slider-container>a:hover {
    /* background-color: #ddd; */
    color: white;
  }

  .previous {
    /* background-color: #f1f1f1; */
    color: black;
    margin-left: 200px;
    margin-bottom: 100px;
  }

  .next {
    /* background-color: #04AA6D; */
    color: black;
    margin-right: 200px;
    margin-bottom: 100px;
  }

  /* .round {
    border-radius:20% 20% 20% 53%;
  } */

  .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 18s ease infinite;
    animation: slide 20s ease infinite;
  }

  .slide {
    float: left;
    height: 510px;
    width: 700px;
  }

  .slide:nth-child(1) {
    background: #D93B65;
  }
  
  .slide:nth-child(2) {
    background: #037E8C;
  }
  
  .slide:nth-child(3) {
    background: #36BF66;
  }
  .slide-number {
    color: #000;
    text-align: center;
    font-size: 8em;
    margin-top: 80px;
    margin-right: 80px;
  }

  .slide{
    display: none;
  }

  .slide-wrapper #active{
    display: block;
  }
  


  /* @keyframes slide {
    
    20% {margin-left: 0px;}
    30% {margin-left: -900px;}
    40% {margin-left: -900px;}
    50% {margin-left: -900px;}
    70% {margin-left: -900px;}
    80% {margin-left: -1800px;}
    90% {margin-left: -1800px;} 
  } */